@model int

<!-- Trang Xác nhận đặt hàng thành công -->
<h2>Đặt hàng thành công!</h2>
<p>Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi. Đơn hàng của bạn đã được xác nhận.</p>
<p>Bạn có thể kiểm tra lại đơn hàng của mình tại <a href="~/OrderList/Index">Đơn mua</a>.</p>
